<footer>
    <div class="footer-container">
        <div class="footer-left">
            <img src="images/Logo-Item-Medium.png" alt="Boogle Logo">
            <p>We are exited to have you onboard!</p>
            <p>Need any help? Please contact us:</p>
            <p>E-mail: <a href="theadejong85@gmail.com">"contact@Boogle.com</a></p>
        </div>
    </div>
    <div>
        <h3><b>Developed by:</b></h3>
        <p>Moni Geiger</p>
        <p>Ana Martins</p>
        <p>Thea de Jong</p>
    </div>
    <div>
        <h3><b>Made possible by UX/UI:</b></h3>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
    </div>
    <div>
        <h3><b>Proud students of Ironhack</b></h3>
        <img src="images/Ironhack-logo.png" alt="Ironhack Logo">  
        <br>
        <p>Copyright &copy; 2021 Boogle</p>
    </div>
</footer>