<footer>
    <div class="footer-container">
        <div class="footer-div">
                <img class="logoFooter" src="/images/book-logo.png" alt="Boogle Logo">
                <p class="pFooter">&copy; Boogle 2021</p>
        </div>
        <div class="footer-div">
            <h2 class="H2Footer">Developed by:</h3>
            <ul>
                <li><a class="aFooter" href="https://www.linkedin.com/in/monika-geiger/" target="_blank">Monika Geiger</a></li>
                <li><a class="aFooter" href="https://www.linkedin.com/in/ana-af-martins/" target="_blank">Ana Martins</a></li>
                <li><a class="aFooter" href="https://www.linkedin.com/in/thea-de-jong1985/" target="_blank">Thea de Jong</a></li>
            </ul>
                {{!-- <p class="pFooter"><a class="aFooter" href="https://www.linkedin.com/in/monika-geiger/" target="_blank">Monika Geiger</a></p>
                <p class="pFooter"><a class="aFooter" href="https://www.linkedin.com/in/ana-af-martins/" target="_blank">Ana Martins</a></p>
                <p class="pFooter"><a class="aFooter" href="https://www.linkedin.com/in/thea-de-jong1985/" target="_blank">Thea de Jong</a></p> --}}
        </div>
        <div class="footer-div">
            <h2 class="H2Footer">Special thanks to:</h3>
            <ul class="links">
                <div>
                <li><a class="aFooter" href="https://linktr.ee/ElkeWolf" target="_blank">Elke Wolf</a></li>
                <li><a class="aFooter" href="https://www.linkedin.com/in/doganmburak" target="_blank">Burak Dogan</a></li>
                <li><a class="aFooter" href="" target="_blank">Maran Korteling</a></li>
                </div>
                <div>
                <li><a class="aFooter" href="" target="_blank">Emanuele Del Prete</a></li>
                <li><a class="aFooter" href="" target="_blank">Pietro Colamussi</a></li>
                <li><a class="aFooter" href="" target="_blank">Lamiya Adilgizi</a></li>
                </div>
            </ul>
        </div>  
        <div class="footer-div">
            {{!-- <h2 class="H2Footer">Proud students<br> of Ironhack:</h3> --}}
            <img class="ironhackFooter" src="/images/IronhackLogo.png" alt="Ironhack Logo">  
        </div>
    </div>
</footer>