<footer>
    <div class="footer-container">
        <div class="footer-left">
                <img class="logoFooter" src="/images/logo-white.png" alt="Boogle Logo">
                <p class="pFooter">Copyright &copy; 2021</p>
        </div>
        <div>
            <h2 class="H2Footer">Developed by:</h3>
                <p class="pFooter"><a class="aFooter" href="https://www.linkedin.com/in/monika-geiger/" target="_blank">Monika Geiger</a></p>
                <p class="pFooter"><a class="aFooter" href="https://www.linkedin.com/in/ana-af-martins/" target="_blank">Ana Martins</a></p>
                <p class="pFooter"><a class="aFooter" href="https://www.linkedin.com/in/thea-de-jong1985/" target="_blank">Thea de Jong</a></p>
        </div>
        <div>
            <h2 class="H2Footer">Special thanks to:</h3>
                <p class="pFooter">Maran, Burak, Elke &</p>
                <p class="pFooter">Lamiya, Pietro, Emanuele</p>
        </div>  
        <div>
            <h2 class="H2Footer">Proud students<br> of Ironhack:</h3>
            <img class="ironhackFooter" src="/images/IronhackLogo.png" alt="Ironhack Logo">  
        </div>
    </div>
</footer>