<footer>
    <div class="footer-container">
        <div class="footer-left">
                <img class="imageFooter" src="images/Logo-Item-Medium.png" alt="Boogle Logo">
                <p class="pFooter">We are exited to have you onboard!</p>
                <p class="pFooter">Need any help? Please contact us:</p>
                <p class="pFooter">E-mail: <a href="theadejong85@gmail.com">contact@Boogle.com</a></p>
        </div>
        <div>
            <h2 class="H2Footer">Developed by:</h3>
                <p class="pFooter">Monika Geiger</p>
                <p class="pFooter">Ana Martins</p>
                <p class="pFooter">Thea de Jong</p>
        </div>
        <div>
            <h2 class="H2Footer">Special thanks to:</h3>
                <p class="pFooter">Maran, Burak, Elke &</p>
                <p class="pFooter">Lamiya, Pietro, Emanuele</p>
        </div>  
        <div>
            <h2 class="H2Footer">Proud students of Ironhack:</h3>
            <img class="imageFooter" src="images/Ironhack-logo.png" alt="Ironhack Logo">  
            <br>
            <p class="pFooter">Copyright &copy; 2021; Boogle Inc.</p>
        </div>
    </div>
</footer>