.mainContainer {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 16px;
  color: #294b53;
  background-color: #e5e5e5;
  width: 900px;
  line-height: 1.5;
}

.details-heading {
  display: flex;
  justify-content: space-between;
}

.search-details-cover-container img {
  height: 200px;
}

.cover-data-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16px;
}

.cover-data-container p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.book-data-container {
  margin-left: 30px;
}

.detailsContainer {
  align-items: flex-start;
  padding: 32px 16px;
}

.detailsContainer a {
  text-decoration: none;
  color: #ff9c6e;
  font-weight: 500;
  margin-left: 0;
  text-transform: uppercase;
}

.detailsContainer a:hover {
  font-weight: 800;
  color: #294b53;
}

.detailsContainer ul {
  padding: 0;
  font-weight: 500;
}

.detailsContainer li {
  font-weight: 400;
}

.detailsContainer h2 {
  text-transform: uppercase;
}

.description {
  text-align: justify;
  margin-top: 20px;
}

.dlt-btn-container,
.back-btn-container {
  text-align: center;
  margin-right: 16px;
}

.dlt-btn,
.back-btn {
  text-align: center;
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border: 1px solid #ffd8bf;
  padding: 10px 20px;
  width: 100px;
}

.dlt-btn:hover,
.back.btn:hover {
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}