body {
    background-color: #FFFFFF;
}

img {
    height: 250px;
}

.mainContainer {
    margin: 40px 250px 40px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    color: #294B53;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        #E9E8E1;

}


.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px;
    width: 478px;
    height: 652px;
    left: 404px;
    top: 16px;
    justify-content: center;
    text-align: justify;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.routeBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    /* position: static; */
    width: 140px;
    height: 40px;
    /* left: 84px;
    top: 16px; */
    background: #294B53;
    border: 1px solid #1890FF;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px;
}


h2 {
    font-size: 30px;
    line-height: 40px;
    flex: none;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    flex: none;

}

h5 {
    font-size: 16px;
    line-height: 24px;
    flex: none;

}