body {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    #e9e8e1;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.headerImage {
  height: 250px;
}

.nothing-here-container {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nothing-here-container h3 {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: #294b53;
}

.create-btn {
  text-align: center;
  color: white;
  background: #294b53;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border: 1px solid #294b53;
  padding: 20px 30px;
  font-size: 20px;
}

.create-btn:hover {
  background: #ff9c6e;
  border-color: #ff9c6e;
  color: #294b53;
  transition: ease-in-out;
}

.create-btn {
  margin: 50px auto;
  margin-bottom: 100px;
  display: block;
}

.mainContainer {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 100px;
  width: 900px;
  height: 450px;
  color: #294b53;
  background-color: #e5e5e5;
  line-height: 1.5;
}

.detailsContainer h2,
.detailsContainer h4 {
  flex: none;
  text-transform: uppercase;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
}

.imageContainer img {
  height: 250px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  width: 527px;
}

.viewMoreBtn {
  text-align: center;
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  padding: 10px 20px;
  border: 1px solid #ffd8bf;
}

.viewMoreBtn:hover {
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

.headerImageContainer {
  display: flex;
  justify-content: center;
  background-color: #fff2e8;
  width: inherit;
  flex-direction: column;
  align-items: center;
  color: #294b53;
  margin-top: 80px;
}

.headerImage {
  padding: 30px;
}

h1 {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

.navigatingBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  position: static;
  width: 170px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #ff9c6e;
  border: 1px solid #ffd8bf;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  flex: none;
  flex-grow: 0;
  text-align: center;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.buttonContainer {
  display: flex;
}

.disableButton {
  background-color: rgba(255, 156, 110, .4);
}