.Hero {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    position: absolute;
    width: 1167px;
    height: 358px;
    left: 135px;
    top: 153px;
}

.H1-hero {
    color: #294B53;
    position: static;
    width: 513px;
    height: 216px;
    left: 0px;
    top: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hero-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    left: 0%;
    top: 100%;
    bottom: 5.1%;
    background: #FF9C6E;
    border: 1px solid #FF9C6E;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
}

.Hero-image {
    position: absolute;
    width: 561px;
    height: 357.66px;
    left: calc(70% - 561px/2);
    top: calc(50% - 357.66px/2 + 0.17px);
}

/*input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 16px 187px 32px;
    position: absolute;
    height: 154px;
    left: 0px;
    right: 0px;
    top: 574px;
    background: #294B53;
}

label {
    position: static;
    width: 340px;
    height: 32px;
    left: 0px;
    top: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 9.52%;
}

.Newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 16px;
    position: absolute;
    width: 1171px;
    height: 400px;
    left: 135px;
    top: 900px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #E9E8E1;
}

.Newsletter-image {
    position: absolute;
    left: 13.71%;
    right: 58.11%;
    top: 12.52%;
    bottom: 12.52%;
}

.H1-Newsletter {
    position: static;
    width: 480px;
    left: calc(50% - 480px/2);
    top: 9.64%;
    bottom: 62.65%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    color: #294B53;}

.H5-Newsletter {
    position: static;
    width: 480px;
    left: calc(50% - 480px/2);
    top: 42.17%;
    bottom: 49.4%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FF9C6E;
}