body {
  margin: 0;
  padding: 0;
}

.Hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 100px;
}

.hero-left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.H1-hero {
  color: #294b53;
  width: 513px;
  height: 216px;
  left: 0px;
  top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
}

.Hero-button {
  padding: 16px;
  bottom: 5.1%;
  background: #ff9c6e;
  border: 1px solid #ff9c6e;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.Hero-button:hover {
  /* color: #ff9c6e; */
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

.search-btn {
  padding: 8px 12px;
  /* bottom: 5.1%; */
  background: #ff9c6e;
  border: 1px solid #ff9c6e;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  font-weight: bold;
  margin: 0px;
  height: 40px;
}

/* .Search-btn:hover {
  color: #294b53;
  background: #e9967a;
  border-color: #294b53;
  transition: ease-in-out;
} */

.mainFormContainer {
  width: inherit;
  margin-top: 60px;
}

.mainFormContainer form {
  margin: 0;
}

.formInputsContainer {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* align-items: flex-end; */
  background-color: #294b53;
  color: white;
  padding: 15px;
  padding-bottom: 30px;
  /* margin-bottom: 0px; */
}

label {
  padding-bottom: 3px;
  color: #ff9c6e;
}

.formInputs {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
}

select {
  margin-top: 10px;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.25);
  height: 40px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.Signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: inherit;
  height: 500px;
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)),
    #e9e8e1;
}

.Signup-image {
  position: static;
  box-sizing: border-box;
  padding-right: 150px;
}

.H1-Signup {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  align-items: center;
  color: #294b53;
  margin-top: 10px;
}

.H5-Signup {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  color: #ff9c6e;
  margin-top: 30px;
}

.Signup-button {
  padding: 16px;
  bottom: 5.1%;
  font-weight: bold;
  background: #ff9c6e;
  border: 1px solid #ff9c6e;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

.Signup-button:hover {
  /* color: #ff9c6e; */
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

/* .col {
  padding: 7px;
} */

.row {
  align-items: flex-end;
}

.col-sm {
  margin: 7px;
}

.results-list-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.upper-case {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title h5 {
  font-size: 16px;
}

.results-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  height: 400px;
  font-size: small;
  background-color: #e5e5e5;
  margin: 20px;
  padding: 25px 30px;
}

.container-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cover-img {
  margin-bottom: 20px;
}

.cover-img img {
  height: 180px;
}

/* .details-link {
  text-align: center;
  color: white;
  background: #294b53;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  padding: 8px 15px;
  border: 1px solid #294b53;
}

.details-link:hover {
  background: #ff9c6e;
  border-color: #e9e8e1;
  transition: ease-in-out;
} */

.title a {
  text-decoration: none;
  color: #ff9c6e;
  font-weight: 500;
  margin-left: 0;
  text-transform: uppercase;
}

.title a:hover {
  font-weight: 800;
}

.author {
  font-weight: 500;
  font-size: 12px;
}

.ghost {
  color: transparent;
}

.description {
  text-align: justify;
  font-kerning: 1px;
  margin-top: 10px;
}