body {
    margin: 0;
    padding: 0;
}


.Hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero-left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.H1-hero {
    color: #294B53;
    width: 513px;
    height: 216px;
    left: 0px;
    top: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;

}

.Hero-button {
    padding: 16px;
    bottom: 5.1%;
    background: #FF9C6E;
    border: 1px solid #FF9C6E;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
}

.search-btn {
    padding: 8px 12px;
    bottom: 5.1%;
    background: #FF9C6E;
    border: 1px solid #FF9C6E;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
}

.mainFormContainer {
    width: inherit;
    margin-top: 50px;
}

.formInputsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #294B53;
    color: white;
    padding: 15px;

}

label {
    padding-bottom: 3px;
    color: #ff9c6e;
}

.formInputs {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 10px;
    width: 286px;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
}

select {
    margin-top: 10px;
    width: 286px;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.25);
}

::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.Signup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: inherit;
    height: 500px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #E9E8E1;
}

.Signup-image {
    position: static;
    box-sizing: border-box;
    padding-right: 150px;
}


.H1-Signup {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    align-items: center;
    color: #294B53;
    margin-top: 10px;
}

.H5-Signup {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #FF9C6E;
    margin-top: 30px;
}

.Signup-button {
    padding: 16px;
    bottom: 5.1%;
    background: #FF9C6E;
    border: 1px solid #FF9C6E;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
}