.search-details-main-container {
  margin: 120px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  color: #294b53;
  background-color: #e5e5e5;
  max-width: 900px;
  line-height: 1.5;
}

.cover-data-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16px;
}

.cover-data-container p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.book-data-container {
  margin-left: 30px;
}

.search-details-container {
  align-items: flex-start;
  padding: 32px 16px;
}

.search-details-container h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.search-details-container a {
  text-decoration: none;
  color: #ff9c6e;
  font-weight: 500;
  margin-left: 0;
  text-transform: uppercase;
}

.search-details-container a:hover {
  font-weight: 800;
  color: #294b53;
}

.description {
  margin-top: 20px;
  text-align: justify;
}

.add-btn-container {
  text-align: center;
  margin-right: 16px;
}

.add-btn {
  text-align: center;
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  padding: 10px 20px;
  border: 1px solid #ffd8bf;
  width: 170px;
}

.add-btn:hover {
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

.details-heading {
  display: flex;
  justify-content: space-between;
}