.search-details-main-container {
  margin: 120px 200px 40px 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  color: #294b53;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    #e9e8e1;
  min-width: 700px;
  line-height: 1.5;
}

.cover-data-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16px;
}

.cover-data-container p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.book-data-container {
  margin-left: 30px;
}

.search-details-container {
  align-items: flex-start;
  padding: 32px 16px;
  text-align: justify;
}

.author {
  font-weight: 500;
}

.add-btn-container {
  text-align: center;
  margin-right: 16px;
}

.add-btn {
  text-align: center;
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border-color: #ff9c6e;
  width: 174px;
  padding: 5px 16px;
}

.add-btn:hover {
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

.details-heading {
  display: flex;
  justify-content: space-between;
}
