.results-container {
  color: #294b53;

  line-height: 1.5;
}

.search-result-heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 30px 0;
  background-color: #fff2e8;
  width: inherit;
}

.headerImage {
  padding: 30px;
  height: 250px;
}

.results-list-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.results-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  width: 300px;
  height: 400px;
  font-size: small;
  margin: 20px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    #e9e8e1;
  padding: 15px;
}

.cover-img {
  margin-bottom: 20px;
}

.cover-img img {
  height: 150px;
}

.author {
  font-weight: 500;
}

.ghost {
  color: transparent;
}

.description {
  text-align: justify;
  font-kerning: 1px;
}

.details-link {
  text-align: center;
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border-color: #ff9c6e;
  width: 100px;
  padding: 5px 16px;
}

.details-link:hover {
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

.details-link-container {
  margin-top: 10px;
}
