<!---
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/search/book-search" method="GET">

  <label for="title">Title: </label>
  <input type="text" name="title" />

  <label for="author">Author:</label>
  <input type="text" name="author" id="author" />

  <label for="generic">Generic:</label>
  <input type="text" name="generic" id="generic" />

  <label for="genre">Genre:</label>
  <select name="genre" id="genre">
    <option disable selected value="">Select a genre from the list</option>
    <option value="adventure">Adventure</option>
    <option value="art">Art</option>
    <option value="bio">Biography</option>
    <option value="children">Children</option>
    <option value="crime">Crime</option>
    <option value="drama">Drama</option>
    <option value="fiction">Fiction</option>
    <option value="history">History</option>
    <option value="horror">Horror</option>
    <option value="liter">Literature</option>
    <option value="poetry">Poetry</option>
    <option value="romance">Romance</option>
    <option value="stor">Stories</option>
    <option value="thriller">Thriller</option>
    <option value="travel">Travel</option>
  </select>

  <button type="submit">Search</button>
</form>  -->

<!---Header-->
<header>
  <div class="Hero">
    <div class="hero-left-part">
      <h1 class="H1-hero">Browse books & create your own personal library</h1>
      <button class="Hero-button">Create your Account</button>
    </div>
    <div>
      <img class="Hero-image" src="images/Hero-Image.png" alt="Hero-Image">
      </div>
    </div>
</header>


<!---Search bar-->
  <div class="mainFormContainer">
    <form action="/search/book-search" method="GET">
      <div class="formInputsContainer">
        <div class="formInputs">
          <label for="author">Search by Author:</label>
          <input type="text" name="author" placeholder="Author" id="author"/>
        </div>

        <div class="formInputs">
          <label for="title">Search by Title: </label>
          <input type="text" name="title" placeholder="Book title"/>    
        </div>
        
        <div class="formInputs">
          <label for="generic">Search Generic:</label>
          <input type="text" name="generic" placeholder="Generic" id="generic"/>
        </div>
        
        <div class="formInputs">
          <label for="genre">Pick by Genre:</label>
          <select name="genre" id="genre">
            <option disable selected value="">Select a genre from the list</option>
            <option value="adventure">Adventure</option>
            <option value="art">Art</option>
            <option value="bio">Biography</option>
            <option value="children">Children</option>
            <option value="crime">Crime</option>
            <option value="drama">Drama</option>
            <option value="fiction">Fiction</option>
            <option value="history">History</option>
            <option value="horror">Horror</option>
            <option value="liter">Literature</option>
            <option value="poetry">Poetry</option>
            <option value="romance">Romance</option>
            <option value="stor">Stories</option>
            <option value="thriller">Thriller</option>
            <option value="travel">Travel</option>
          </select>
        </div>
        
        <div class="formInputs">
          <button class="search-btn" type="submit">Search</button>
        </div>
      </div>    
    </form> 
  </div>

  <!---Newsletter-->
  <div class="Signup-container">
    <div class="Signup">
      <img class="Signup-image" src="images/reading.png" alt="Sign-up Image">
    </div>
    <div class="Signup-right-side">
      <h1 class="H1-Signup">create your very own <br> personal bookshelf</h1>
      <h5 class="H5-Signup">Join for free to save your favorite books!</h5>
      <button class="Signup-button">Sign up</button>
    </div>
  </div>


