<html>
  <head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>
  <body>
    <nav>
      {{!-- {{>navbar}} --}}
      {{#unless currentUser}}
        <a href="/auth/signup">Signup</a>
        <a href="/auth/login">Login</a>
      {{/unless}}
      <a href="/users/profile">Profile</a>
      <a href="/">Home</a>
      <a href="/books/new-book">Create New Book</a>
      <a href="/bookshelf/my-created-books">My Created Books</a>
      <a href="/bookshelf/my-saved-books">My Saved Books</a>
    </nav>
    {{{body}}}
    {{!-- {{> footer}} --}}
  </body>
</html>