<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="users/profile">Profile</a>
      <a href="/">Home</a>
      <a href="/books/new-book">Create New Book</a>
      <a href="/books">Book List</a>
    </nav>
    {{{body}}}
  </body>
</html>