.error-container {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ff9c6e;
  font-size: 30px;
  margin-top: 30px;
}

.error-container p {
  margin: 0;
}

.auth-heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form {
  margin-top: 100px;
  background-color: rgba(248, 249, 250, 0.5);
  padding: 30px;
  border-radius: 4px;
}

.input-container input {
  margin-top: 10px;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #294b53;
}

.auth-container {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
  color: #294b53;
  background-position: 0% 100%;
}

.input-container {
  margin: 25px 0;
  color: #ff9c6e;
}

.login-prompt a,
.signup-prompt a {
  color: #ff9c6e;
  text-decoration: none;
}

.login-prompt p,
.signup-prompt p {
  margin-bottom: 3px;
}

.login-prompt a:hover,
.signup-prompt a:hover {
  font-weight: 800;
}

.login-prompt,
.signup-prompt {
  text-align: center;
  color: #294b53;
}

::placeholder {
  color: rgba(41, 75, 83, 0.5);
}

.submit-btn-container {
  text-align: center;
}
.submit-btn {
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border-color: #ff9c6e;
  width: 174px;
  padding: 5px 16px;
}

.submit-btn:hover {
  color: #ff9c6e;
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

label.myLabel input[type="file"] {
  position: absolute;
  top: -1000px;
}

.myLabel {
  margin-top: 10px;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  background: #d9d9d9;
  text-align: center;
}

.myLabel:hover {
  background: #ccc;
}

.myLabel:active {
  background: #ccf;
}

.myLabel :invalid + span {
  color: #294b53;
}

.myLabel :valid + span {
  color: #ff9c6e;
}
