.mainContainer {
  display: flex;
  justify-content: center;
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
  color: #294b53;
  background-position: 0% 100%;
}

.profile-picture {
  height: 200px;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
  background-color: rgba(248, 249, 250, 0.8);
  padding: 30px;
  border-radius: 4px;
  max-width: 400px;
  max-height: 500px;
}

.profile-info-container div {
  margin: 5px;
}

.profile-btn {
  text-align: center;
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border: 1px solid #ffd8bf;
  padding: 10px 20px;
}

.profile-btn:hover {
  background: #294b53;
  border-color: #294b53;
  color: #ff9c6e;
  transition: ease-in-out;
}

#logout-btn {
  background: #294b53;
  border-color: #294b53;
  padding: 8px 18px;
}

#logout-btn:hover {
  background: #ff9c6e;
  border-color: #ff9c6e;
  color: white;
}