h1,
p {
  color: #294b53;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 10px;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}



.auth-container {
  height: 100vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-image: url("/images/bg.png");
  background-position: center;
  width: 100%;
  background-size: inherit;
}

.form-container {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    #E9E8E1;
  width: fit-content;
  padding: 10;
}

.input-container {
  margin: 20px 0;
  color: #ff9c6e;
}

.login-prompt>a {
  color: #ff9c6e;
  text-decoration: none;
}

.login-prompt {
  text-align: center;
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.submit-btn {
  margin-top: 10px;
  text-align: center;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border-color: #ff9c6e;
  width: 174px;
  padding: 5px 16px;
}