.auth-heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form {
  margin-top: 8vh;
}

.input-container input {
  margin-top: 10px;
  width: 286px;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}

.auth-container {
  /* background-image: url("/images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(100vh - 150px); */
  color: #294b53;
}

.background-img{
 width: 100vw;
}

.input-container {
  margin: 25px 0;
  color: #ff9c6e;
}

.login-prompt a,
.signup-prompt a {
  color: #ff9c6e;
  text-decoration: none;
}

.login-prompt p,
.signup-prompt p {
  margin-bottom: 3px;
}

.login-prompt a:hover,
.signup-prompt a:hover {
  font-weight: 800;
}

.login-prompt,
.signup-prompt {
  text-align: center;
  color: #294b53;
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
.submit-btn-container {
  text-align: center;
}
.submit-btn {
  margin-top: 10px;
  color: white;
  background: #ff9c6e;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 2px;
  border-color: #ff9c6e;
  width: 174px;
  padding: 5px 16px;
}

.submit-btn:hover {
  color: #ff9c6e;
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}
