/*
Fonts:
font-family: 'Nunito Sans', sans-serif; 
font-family: 'Roboto', sans-serif;

colors:
Brand / Dark Petrol: #294B53;
Secondary/Warm grey 40% or 60%: #E9E8E1;
Primary/Volcano/4: #FF9C6E; (dark salmon)
Secondary/Volcano/1: #FFF2E8; (light salmon)
*/

body {
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  min-height: 100%;
}

/* FOOTER */
footer {
  clear: both;
  position: relative;
  /* height: 200px; */
  margin-top: 0px;
  color: white;
  background-color: #294B53;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logoFooter {
  width: 50px;
}

.ironhackFooter {
  width: 50px;
}

.H2Footer {
  font-size: 21px;
}

.aFooter {
  color: white;
  text-decoration: none;

}

.links {
  display: flex;
  justify-content: space-around;
}

.aFooter:hover {
  color: #ff9c6e;
}

.footer-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}





/* NAVBAR */
#navbarContainer {
  display: flex;
  height: 80px;
  height: 80px;
  padding: 20px;
  justify-content: space-between;
  color: #294B53;
}

.navbar-brand {
  color: #294B53;
}

.navbar-brand:hover {
  color: #294B53;
}

#boogleLogo {
  height: 50px;
  margin-right: 140px;
}

#boogleLogoAno {
  height: 50px;
  margin-right: 62px;
}

#navbarText {
  /* justify-content: space-between; */
  /* list-style-type: none; */
  color: #294b53;
}

#nav-links {
  display: flex;
  /* width: 177px; */
}

a:hover {
  text-decoration: none;
}



.navbarBtn {
  text-align: center;
  color: white;
  background: #ff9c6e;
  border-radius: 2px;
  border: none;
  padding: 5px 16px;
}

.navbarBtn:hover {
  background: #294b53;
  border-color: #294b53;
  transition: ease-in-out;
}

#button {
  margin: 0px 10px 0px 0px;
  padding: 0;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  color: #294b53;
}

.houseImage {
  width: 40px;
}

.profileImage {
  width: 30px;
}

.bookImage {
  width: 40px;
  margin: 0px 5px 0px 5px;
}

.nav-logos {
  display: flex;
  align-items: center;
  flex-direction: row;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* @media (max-width: 654px) {
  .col-sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
} */