/*
Fonts:
font-family: 'Nunito Sans', sans-serif; 
font-family: 'Roboto', sans-serif;

Colors:
Brand / Dark Petrol: #294B53;
Secondary/Warm grey 40% or 60%: #E9E8E1;
Primary/Volcano/4: #FF9C6E; (dark salmon)
Secondary/Volcano/1: #FFF2E8; (light salmon)
*/


body {
  padding: 50px;
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.footer-container{
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
  background-color: #294B53;
  padding-bottom: 0px;
}

.H2Footer {
  font-size: 20px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
}

.pFooter {
  color: white;
  font-style: normal;
  margin-top: 10px;
}

.imageFooter{
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

a {
  hover: salmon;
}