<div class="headerImageContainer">

  <div>
    <img class="headerImage" src="/images/reading.png" alt="" />
  </div>

  <h1>My Created Books List</h1>

  <div class="buttonContainer">
    <a href="/bookshelf/my-saved-books">
      <button class="navigatingBtn" id="mySavedBooksBtnInCreatedBook">
        My Saved Books
      </button>
    </a>
    <a href="/bookshelf/my-created-books">
      <button disabled class="navigatingBtn " id="myCreatedBooksBtnInCreatedBook">
        My Created Books
      </button>
    </a>
  </div>
</div>

{{#unless result}}
<div class="nothing-here-container">
<h3>You have not created any books yet...</h3>
</div>
{{/unless}}

    <a href="/books/new-book">
        <button class="create-btn">Create a book!</button>
    </a>

  <ul>
    {{#each result}}
      <li>
        <div class="mainContainer">
  
          <div class="imageContainer">
            <img src="{{this.bookPictureUrl}}" alt="" />
          </div>
  
          <div class="detailsContainer">
            <h2>{{this.title}}</h2>
            <h4>{{this.authors}}</h4>
            <a class="viewMoreBtn-container" href="/books/{{this._id}}">
              <button class="viewMoreBtn">
                Read More
              </button>
            </a>
          </div>
  
        </div>
      </li>
    {{/each}}
  </ul>
