<form action="/users/{{user.id}}/edit" method="POST" enctype="multipart/form-data">
  <label for="username">Username: </label>
  <input type="text" name="username" value={{user.username}} required />

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" value={{user.email}} required />

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="*****" required />

  <label for="avatarUrl">Profile Picture:</label>
  <input type="file" name="avatarUrl" id="avatarUrl" />

  <button type="submit">Submit</button>
</form>