<div class="mainContainer">

  <div class="profile-info-container">
    <div>
      <h2> Hello, {{user.username}}!</h2>
    </div>
    <div>
      <img
        class="profile-picture"
        src="{{pictureUrl}}"
        alt="You have no profile picture"
      />
    </div>
    
    <div>
      <a href="/users/{{user._id}}/edit">
        <button class="profile-btn" type="submit">Edit Profile</button>
      </a>
    </div>
    <div>
      <form action="/auth/logout" method="GET">
        <button
          class="submit-btn profile-btn"
          id="logout-btn"
          type="submit"
        >Logout</button>
      </form>
    </div>
  </div>

</div>
